<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.chuangbu.core.orm.sys.mapper.SsPermissionMapper">

	<resultMap id="Result" type="com.chuangbu.core.orm.sys.domain.SsPermission">
				<id property="id" column="id" />
				<result property="expanded" column="expanded_" />
				<result property="leaf" column="leaf_" />
				<result property="level" column="level_" />
				<result property="loaded" column="loaded_" />
				<result property="order" column="order_" />
				<result property="displayName" column="display_name" />
				<result property="iconname" column="iconname" />
				<result property="menu" column="menu" />
				<result property="name" column="name" />
				<result property="url" column="url" />
				<result property="parent" column="parent_" />
	</resultMap>
	
	<sql id="columns">
		id,expanded_,leaf_,level_,loaded_,order_,display_name,iconname,menu,name,url,parent_
	</sql>
	
	<sql id="dynamicWhere">
		<where>
					<if test="@Ognl@isNotEmpty(id)"> AND id  LIKE '%${id}%'  </if>
					<if test="@Ognl@isNotEmpty(expanded)"> AND expanded_  LIKE '%${expanded}%'  </if>
					<if test="@Ognl@isNotEmpty(leaf)"> AND leaf_  =#{leaf} </if>
					<if test="@Ognl@isNotEmpty(level)"> AND level_  =#{level} </if>
					<if test="@Ognl@isNotEmpty(loaded)"> AND loaded_  LIKE '%${loaded}%'  </if>
					<if test="@Ognl@isNotEmpty(order)"> AND order_  =#{order} </if>
					<if test="@Ognl@isNotEmpty(displayName)"> AND display_name  LIKE '%${displayName}%'  </if>
					<if test="@Ognl@isNotEmpty(iconname)"> AND iconname  LIKE '%${iconname}%'  </if>
					<if test="@Ognl@isNotEmpty(menu)"> AND menu  =#{menu} </if>
					<if test="@Ognl@isNotEmpty(name)"> AND name  LIKE '%${name}%'  </if>
					<if test="@Ognl@isNotEmpty(url)"> AND url  LIKE '%${url}%'  </if>
					<if test="@Ognl@isNotEmpty(parent)"> AND parent_  LIKE '%${parent}%'  </if>
		</where>
	</sql>

	<insert id="save" parameterType="com.chuangbu.core.orm.sys.domain.SsPermission">
		INSERT INTO ss_permission
		(
		<trim prefix="" suffixOverrides=",">  
				<if test="@Ognl@isNotEmpty(id)">  id,  </if>
				<if test="@Ognl@isNotEmpty(expanded)">  expanded_,  </if>
				<if test="@Ognl@isNotEmpty(leaf)">  leaf_,  </if>
				<if test="@Ognl@isNotEmpty(level)">  level_,  </if>
				<if test="@Ognl@isNotEmpty(loaded)">  loaded_,  </if>
				<if test="@Ognl@isNotEmpty(order)">  order_,  </if>
				<if test="@Ognl@isNotEmpty(displayName)">  display_name,  </if>
				<if test="@Ognl@isNotEmpty(iconname)">  iconname,  </if>
				<if test="@Ognl@isNotEmpty(menu)">  menu,  </if>
				<if test="@Ognl@isNotEmpty(name)">  name,  </if>
				<if test="@Ognl@isNotEmpty(url)">  url,  </if>
				<if test="@Ognl@isNotEmpty(parent)">  parent_ </if>
		</trim>
		)
		VALUES
		(
		<trim prefix="" suffixOverrides=",">  
				<if test="@Ognl@isNotEmpty(id)"> #{id},  </if>
				<if test="@Ognl@isNotEmpty(expanded)"> #{expanded},  </if>
				<if test="@Ognl@isNotEmpty(leaf)"> #{leaf},  </if>
				<if test="@Ognl@isNotEmpty(level)"> #{level},  </if>
				<if test="@Ognl@isNotEmpty(loaded)"> #{loaded},  </if>
				<if test="@Ognl@isNotEmpty(order)"> #{order},  </if>
				<if test="@Ognl@isNotEmpty(displayName)"> #{displayName},  </if>
				<if test="@Ognl@isNotEmpty(iconname)"> #{iconname},  </if>
				<if test="@Ognl@isNotEmpty(menu)"> #{menu},  </if>
				<if test="@Ognl@isNotEmpty(name)"> #{name},  </if>
				<if test="@Ognl@isNotEmpty(url)"> #{url},  </if>
				<if test="@Ognl@isNotEmpty(parent)"> #{parent} </if>
		</trim>
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		DELETE FROM ss_permission 
		WHERE 			id
		=#{			id
		}
	</delete>
	
	<update id="update" parameterType="com.chuangbu.core.orm.sys.domain.SsPermission">
		UPDATE ss_permission 
			<set>
					<if test="@Ognl@isNotEmpty(expanded)"> expanded_=#{expanded},  </if>
					<if test="@Ognl@isNotEmpty(leaf)"> leaf_=#{leaf},  </if>
					<if test="@Ognl@isNotEmpty(level)"> level_=#{level},  </if>
					<if test="@Ognl@isNotEmpty(loaded)"> loaded_=#{loaded},  </if>
					<if test="@Ognl@isNotEmpty(order)"> order_=#{order},  </if>
					<if test="@Ognl@isNotEmpty(displayName)"> display_name=#{displayName},  </if>
					<if test="@Ognl@isNotEmpty(iconname)"> iconname=#{iconname},  </if>
					<if test="@Ognl@isNotEmpty(menu)"> menu=#{menu},  </if>
					<if test="@Ognl@isNotEmpty(name)"> name=#{name},  </if>
					<if test="@Ognl@isNotEmpty(url)"> url=#{url},  </if>
					<if test="@Ognl@isNotEmpty(parent)"> parent_=#{parent} </if>
		    </set>
		WHERE 			id
		=#{uuid}
	</update>
	
	<select id="findOne" parameterType="String" resultMap="Result">
		SELECT <include refid="columns"/>
		FROM ss_permission
		WHERE 			id
		=#{			id
		}
	</select>
	
	<select id="findAll" parameterType="String" resultMap="Result">
		SELECT <include refid="columns"/>
		FROM ss_permission
		<if test="@Ognl@isNotEmpty(list)">
		WHERE 			id
		 IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
				#{item}
		</foreach>
		</if>
	</select>
	
	<select id="find" parameterType="com.chuangbu.core.orm.sys.domain.SsPermission" resultMap="Result">
		SELECT <include refid="columns"/>
		FROM ss_permission
		<include refid="dynamicWhere"/>
	</select>
	<select id="findMenuAll" resultMap="Result" >
	    SELECT <include refid="columns"/>
		FROM ss_permission
	    where menu = 1
	    ORDER BY level_ ,order_,parent_
	  </select>
</mapper>